<!-- templates/_base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion Des Commandes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'src/output.css' %}" />

  </head>

  <body class="">
    <div class="container mx-auto mt-4">
      <button
        data-drawer-target="default-sidebar"
        data-drawer-toggle="default-sidebar"
        aria-controls="default-sidebar"
        type="button"
        class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            fill-rule="evenodd"
            d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
          ></path>
        </svg>
      </button>

      <aside
        id="default-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
        aria-label="Sidebar"
      >
        <div
          class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"
        >
          <ul class="space-y-2 font-bold text-orange-400">
            <li
              class="mb-10 flex text-center items-center justify-center text-orange-400"
            >
              <span class="ms-3 text-center font-extrabold">MENU</span>
            </li>

            <li>
              <a
                href="{% url 'plats' %}"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
              <img class="h-6" src="{% static 'img/plateau-repas.png'%}" />
              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM10 16v2h4v-2h-4zm6-4v-2h-8v2h8zm2-6h-4v2h4v4h2V8c0-1.1-.9-2-2-2zm-6 2h-4V4h4v4z"/>
            </svg>
            

                <span class="flex-1 ms-3 whitespace-nowrap">Plats</span>
              </a>
            </li>
            <li>
              <a
                href="{% url 'liste_commandes' %}"
                class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
              >
              <img class="h-6" src="{% static 'img/commandes-de-nourriture.png'%}" />
                

                <span class="flex-1 ms-3 whitespace-nowrap">Commandes</span>
              </a>
            </li>
          </ul>
        </div>
      </aside>

      <div class="pl-40">{% block content %} {% endblock %}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
